.fieldset {
   padding-top: 15px;
   width: 75%;
   display: flex;
   margin: 0 auto;
   //border: solid 2px #000099;
}

.example-button-row {
    width: 75%;
    display: flex;
    margin: 0 auto;
}
   