<mat-card class="mat-elevation-z4">
  <div class="search-container">
    <mat-form-field appearance="outline" class="button-container">
      <mat-label>Выбор валюты</mat-label>
      <mat-select formControlName="toCurrency">
        <mat-option *ngFor="let curr of currencies | async" [value]="curr">{{curr.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="button-container">
      <mat-label>Введите период сборки</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Начало">
        <input matEndDate formControlName="end" placeholder="Завершение">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
      <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <div class="button-container">
      <mat-spinner *ngIf="uploading" [diameter]="30"></mat-spinner>
      <button mat-raised-button *ngIf="!uploading" (click)="loadDynamic()" style="margin: 1%">Поиск</button>
  </div>
  </div>
</mat-card>


<div class="diagram" fxFlex="100">
  <app-dynamic-chart [data]="data"></app-dynamic-chart>
</div>