.mat-elevation-z5 {
    margin: 4px
}
.button-container {
    display: table-cell;
    padding-left: 1%;
    position: relative
}
.search-container {
    display: table;
}

.diagram {
    margin-top: 20px;
}
